@import "tailwindcss";

:root {
  /* --- LIGHT MODE  --- */
  --background: #f8fafc;
  --foreground: #020617;
  --text-muted: #475569;
  
  --card-bg: rgba(255, 255, 255, 0.9);
  --card-border: #cbd5e1;
  
  --primary: #6d28d9;
  --primary-hover: #5b21b6;
  
  --input-bg: #ffffff;
  --input-border: #94a3b8;

  
  --bg-overlay: linear-gradient(to bottom, rgba(248, 250, 252, 0.95), rgba(248, 250, 252, 0.85));
}

[data-theme='dark'] {
  /* --- DARK MODE  */
  --background: #0f111a;
  --foreground: #f8fafc;
  --text-muted: #94a3b8;
  
  --card-bg: rgba(22, 27, 44, 0.75);
  --card-border: #1e293b;
  
  --primary: #a78bfa;
  --primary-hover: #c4b5fd;
  
  --input-bg: rgba(30, 37, 56, 0.6);
  --input-border: #334155;

  
  --bg-overlay: linear-gradient(to bottom, rgba(15, 17, 26, 0.92), rgba(15, 17, 26, 0.85));
}

body {
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  
  /* Background Image */
  background-image: 
    var(--bg-overlay),
    url('/bg.jpg');
    
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  transition: color 0.3s ease;
}

html { scroll-behavior: smooth; }

/* Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--background); }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }